.DataImage{
height:400px;
width:620px;
position:relative;
left:200px;
bottom:20px;
border-radius:15px;
}
@media(max-width:430px){
  .DataImage{
    width:360px;
    position:relative;
    top:140px;
    left:auto;
    left:35px;

  }
}
.BulletPoints{
float:left;
}
@media(max-width:430px){
.BulletPoints{
position:relative;
right:65px;
}
}
.DataMain{
  background-color: #1d232a;
}
@media(max-width:430px){
.DataMain{
height:900px;
}
}
.DataScience{
height:1500px;
}
@media(max-width:430px){
 .DataScience{
  height:2450px;
 } 
}
#Data{
color:white;
font-size:32px;
position:relative;
top:40px;
left:100px;
}
@media(max-width:430px){
#Data{
left:auto;
left:35px;
}
}


#BullletPoints{
color:white;
}
#Data1{
color:white;
position:relative;
top:65px;
left:105px;
font-size:22px;
font-weight:300;
margin-bottom:10px;
}
@media(max-width:430px){
#Data1{
width:320px;
}
}






.DataPrice{
color:rgb(161, 156, 156);
position:relative;
top:80px;
left:120px;
font-size:23px;
}
#Enroll{
height:45px;
position:relative;
top:110px;
left:115px;
width:420px;
background-color:#225d91;
border-radius:12px;
border:none;
}
@media(max-width:430px){
#Enroll{
width:350px;
position:relative;
left:auto;
left:105px;
}
}
#DataHeadingCourse{
  width:800px;
  font-size:38px;
  font-weight:300;
  position:relative;
  left:280px;
  top:70px;
}
@media(max-width:430px){
#DataHeadingCourse{
  left:auto;
  font-size:33px;
  width:230px;
  position:relative;
  left:90px;
  top:auto;
  top:60px;
}
}
#DataHeadingCourse1{
position:relative;
top:100px;
left:280px;
font-size:20px;
font-weight:300;
}
@media(max-width:430px){
#DataHeadingCourse1{
left:auto;
width:300px;
position:relative;
left:88px;
}
}
.DataHeadingCourse2{
margin-bottom:3px;
font-size:18px;
position:relative;
top:100px;
left:340px;
}
@media(max-width:430px){
  .DataHeadingCourse2{
   left:auto;
   width:250px;
   left:50px;
   top:auto;
   top:110px;
  }
}
#DataHeadingCourse3{
position:relative;
top:130px;
left:280px;
width:730px;
font-weight:300;
font-size:37px;
}
@media(max-width:430px){
#DataHeadingCourse3{
left:auto;
font-size:30px;
width:230px;
left:90px;
font-size:37px;
}
}

#DataHeadingCourse4{
position:relative;
top:160px;
left:280px;
font-weight:300;
font-size:20px;
}
@media(max-width:430px){
#DataHeadingCourse4{
left:auto;
left:84px;
top:auto;
top:150px;
}
}

#DataHeadingCourse5{
position:relative;
top:160px;
left:350px;
font-weight:300;
font-size:18px;
}  
@media(max-width:430px){
#DataHeadingCourse5{
left:auto;
left:40px;
width:250px;
}
}
#DataHeadingCourse6{
position:relative;
top:200px;
left:490px;
font-weight:300;
font-size:35px;
} 
@media(max-width:430px){
#DataHeadingCourse6{
left:auto;
left:68px;
}
}
#DataHeadingCourse7{
  position:relative;
  top:210px;
  left:550px;
  font-weight:300;
  font-size:25px;
}
@media(max-width:430px){
  #DataHeadingCourse7{
  left:0px;
  left:130px;
  }
}
#DataHeadingCourse8{
  position:relative;
  top:210px;
  left:280px;
  font-weight:400;
  font-size:17px;
  border:2px solid black;
  width:700px;
  height:30px;
  margin-bottom:5px;
  border-radius:7px;
  padding:10px 0px 0px 20px;
}
@media(max-width:430px){
  #DataHeadingCourse8{
  left:0px;
  width:180px;
  height:40px;
  left:70px;
  }
}