
.Footer{
background-color:rgb(46, 46, 46);
height:8vw;
box-sizing:border-box;
}
@media(max-width:430px){
.Footer{
height:120px;
border:2px solid green;
}
body,html{
height:100vh;
margin-bottom:0;
}
}
.Footer_Heading{
margin-block-end:0;
margin-block-start:0;
text-align:center;
font-size:24px;
font-weight:600;
}
@media(max-width:430px){
.Footer_Heading{
font-size:20px;
}
}
.Footer1{
display:flex;
width:300px;
position:relative;
left:540px;
}
.FooterPoints{
font-size:15px;
font-weight:500;
margin-left:20px;
color:white;
list-style:none;
}
.Footer_icons{
font-size:27px;
color:white;
}
@media(max-width:430px){
.Footer_icons{
font-size:24px;

}
}
.Footer_Heading{
color:white;
}
.Footer2{
height:33px;
width:33px;
border:2px solid black;
margin:5px;
background-color:black;
border-radius:29px;
padding:8px 5px 4px 11px;
}
@media(max-width:430px){
.Footer2{
position:relative;
right:448px;
height:28px;
width:30px;
padding:auto;

}
}
.Footer_Point{
display:flex;
margin-block-start:0;
margin-block-end:0;
}
.Footer3{
width:700px;
position:relative;
left:370px;
bottom:5px;
}
@media(max-width:430px){
.Footer3{
position:relative;
left:auto;
right:35px;
bottom:auto;
top:10px;
bottom:5px;
width:500px;
height:60px;
}
.FooterPoints{
font-size:10px;
list-style:initial;
margin-top:0;

}
}