.Service{
background-color:black;
color:white;
height:680px;
width:100%;
}
@media(max-width:430px){
.Service{
height:1840px;
border:2px solid blue;
}
}
.Service10{
margin-top:0;
margin-bottom:0;
margin-block-start:0;
margin-block-end: 0;
}
.Service3{
display:flex;
position:relative;
left:45px;
top:38px;
}
@media(max-width:430px){
.Service3{
  flex-wrap:wrap;
  margin:0;
  padding:0;
}

}
.Service4{
border:2px solid white;
height:540px;
width:372px;
background-color:#191919;
border:2px solid #191919;
border-radius:15px;
margin-left:30px;
}
@media(max-width:430px){
  .Service4{
  position:relative;
  right:60px;
  height:520px;
  margin-bottom:30px;
  }
  }

.ServicePython{
border:2px solid white;
height:540px;
width:372px;
background-color:#191919;
border:2px solid #191919;
border-radius:15px;
margin-left:30px;
}
@media(max-width:430px){
  .ServicePython{
   position:relative;
   right:60px;
  height:545px;
  }
  }
.ServiceFullStack{
border:2px solid white;
height:540px;
width:372px;
background-color:#191919;
border:2px solid #191919;
border-radius:15px;
margin-left:30px;
}
@media(max-width:430px){
.ServiceFullStack{
position:relative;
right:60px;
height:545px;
top:15px;
}
}







@media(max-width:430px){
.ServicePython{
 position:relative;
 right:60px;
height:545px;
margin-bottom:20px;
}
}





.image_Service{
height:225px;
width:340px;
border-radius:20px;
padding-left:10px;
margin-top:10px;
margin-left:3px;
}
.Service5{
border:2px solid black;
font-weight:500;
font-size:14px;
height:23px;
padding:5px 0px 0px 7px;
border-radius:8px;
width:55px;
background-color:#403f3f;
margin:3px;
color:#ffff;
position:relative;
top:60px;
left:10px;
margin-block-start:0;
margin-block-end: 0;
}
.Skill{
  border:2px solid black;
  font-weight:500;
  font-size:14px;
  height:25px;
  border-radius:10px;
  width:60px;
  padding:6px 0px 0px 7px;
  background-color:#403f3f;
  margin:3px;
  color:#ffff;
  position:relative;
  top:60px;
  left:5px;
  margin-block-start:0;
  margin-block-end: 0;
  }
  @media(max-width:430px){
    .Skill{
    font-size:11px;
    width:37px;
    height:13px;
    padding:8px 17px 11px 17px;
    position:relative;
    left:50px;
    }
    }

    .Skill1{
    border:2px solid black;
    font-weight:500;
    font-size:14px;
    height:25px;
    border-radius:10px;
    width:70px;
    background-color:#403f3f;
    margin:3px;
    color:#ffff;
    padding:7px 0px 0px 11px;
    position:relative;
    top:60px;
    left:5px;
    margin-block-start:0;
    margin-block-end: 0;
    }
    @media(max-width:430px){
      .Skill1{
      font-size:11px;
      width:37px;
      height:10px;
      padding:8px 17px 11px 14px;
      position:relative;
      left:50px;
      }
      }

    .Skill2{
    border:2px solid black;
    font-weight:500;
    font-size:14px;
    height:25px;
    border-radius:10px;
    width:50px;
    background-color:#403f3f;
    margin:3px;
    color:#ffff;
    padding:7px 0px 0px 10px;
    position:relative;
    top:60px;
    left:5px;
    margin-block-start:0;
    }
    @media(max-width:430px){
    .Skill2{
    position:relative;
    left:auto;
    left:50px;
    top:0px;
    top:60px;
    font-size:12px;
    padding:7px 0px 2px 15px;
    height:23px;
    }
    }
    .Skill3{
      border:2px solid black;
      font-weight:500;
      font-size:14px;
      height:25px;
      border-radius:10px;
      width:60px;
      background-color:#403f3f;
      margin:3px;
      color:#ffff;
      padding:7px 0px 0px 10px;
      position:relative;
      top:60px;
      left:5px;
      margin-block-start:0;
      }
  
      @media(max-width:430px){
        .Skill3{
        position:relative;
        left:auto;
        left:50px;
        top:0px;
        top:60px;
        font-size:12px;
        padding:7px 0px 2px 10px;
        height:23px;
        }
        }



@media(max-width:430px){
.Service5{
font-size:10px;
width:37px;
height:10px;
padding:8px 6px 11px 17px;
position:relative;
left:50px;
}
}

.Service8{
border:2px solid black;
font-weight:500;
font-size:14px;
border-radius:10px;
width:120px;
color:#fff;
background-color:#403f3f;
position:relative;
top:60px;
left:12px;
padding:5px 0px 0px 8px;
margin-block-start:0;
margin-block-end: 0;
}
@media(max-width:430px){
.Service8{
border:2px solid black;
height:10px;
font-size:11px;
padding:8px 0px 11px 17px;
width:100px;
position:relative;
left:55px;
}
}
.Service_Heading{
color:#d1cece;
padding-left:17px;
position:relative;
top:22px;
font-weight:700;
margin-block-start:0;
margin-block-end: 0;
}
@media(max-width:430px){
.Service_Heading{
font-size:18px;
font-weight:700;
width:210px;
position:relative;
left:40px;
top:auto;
top:20px;
}
}
.Service_para{
color:#d1cece;
position:relative;
left:18px;
width:332px;
font-size:14px;
top:35px;
font-weight:700;
margin-block-start:0;
margin-block-end: 0;
}
@media(max-width:480px){
.Service_para{
font-size:11px;
position:relative;
left:auto;
left:58px;
width:300px;
top:auto;
top:35px;
}
}
.Service6{
display:flex;
}
.Enroll{
width:330px;
height:40px;
color:white;
background-color:#403f3f;
border:2px solid black;
border-radius:10px;
font-size:17px;
position:relative;
top:110px;
left:8px;
}
@media(max-width:430px){
.Enroll{
height:50px;
width:320px;
position:relative;
left:auto;
left:25px;
top:auto;
top:100px;
}
}
.Service_Upper_Heading{
text-align:center;
margin-block-start:0;
margin-block-end: 0;
}
h3{
margin-block-start:0;
margin-block-end: 0;
}
.Service15{
font-size:21px;
position:relative;
top:18px;
}