.ServiceCardImage{
height:200px;
width:330px;
border-radius:10px;
margin-left:15px;
position:relative;
top:20px;
}
.ServiceCard{
border:2px solid #191919;
width:370px;
height:525px;
margin:10px;
background-color:#191919;
border-radius:10px;
color:rgb(168, 166, 166);
font-weight:600;
}
.ServiceMainCard{
display:flex;
margin-left:80px;
}
.ServicePara{
font-size:15px;
width:300px;
margin-left:20px;
position:relative;
top:20px;
}
.ServiceHeading{
position:relative;
top:25px;
left:18px;
font-size:20px;
color:rgb(168, 166, 166);
font-weight:600;
}
.ServiceCardHeading{
display:flex;
}
.Heading{
font-size:14px;
border:2px solid black;
border-radius:9px;
padding:2px 5px 2px 7px;
position:relative;
top:20px;
left:15px;
margin:5px;
}
.EnrollButton{
border:2px solid black;
position:relative;
top:40px;
left:18px;
height:45px;
width:320px;
border-radius:15px;
color:white;
background-color:rgb(51, 48, 48);
font-size:18px;
}
.Service{
background-color:black;
height:650px;
}
.ServiceMainHeading{
color:white;
text-align:center;
}
.ServiceMainPara{
color:white;
text-align:center;
font-weight:600;
font-size:18px;
}