.SignUp{
height:550px;  
width:450px;
background-color:#fff;
border-radius:10px;
position:relative;
left:15px;
top:180px;
}
@media(max-width:430px){
.SignUp{
width:373px;
height:520px;
position:relative;
top:145px;
left:-14px;
border:3px solid black;
}
}

.SignUp_Main{
position:relative;
bottom:130px;
left:22px;
width:100%;
}
.SignUp_Heading{
font-size:19px;
font-weight:600;
color:rgb(49 64 91);
padding-left:19px;
padding-top:14px;
position:relative;
top:22px;
left:3px;
margin-top:10px;
}
@media(max-width:430px){
.SignUp_Heading{
font-size:20px;
font-weight:700;
}
}
@media(max-width:380px){
.SignUp_Heading{
font-size:18px;
font-weight:700;
}
}

.E-mail{
margin-left:20px;
font-weight:500;
font-size:19px;
color:rgb(12, 11, 11);
position:relative;
margin-block-start:0;
margin-block-end: 0;
position:relative;
top:40px;
left:4px;
}
@media(max-width:430px){
  .E-mail{
    position:relative;
    bottom:3px;
    font-size:18px;

  }
}

@media(max-width:380px){
.E-mail{
  position:relative;
  bottom:3px;
  font-size:16px;
}
}


.Graduation{
margin-left:20px;
font-weight:500;
font-size:18px;
color:rgb(8, 7, 7);
position:relative;
top:60px;
margin-block-start:0;
margin-block-end: 0;
}
@media(max-width:430px){
.Graduation{
position:relative;
bottom:25px;
font-size:18px;
right:2px;
}
}

@media(max-width:380px){
.Graduation{
position:relative;
bottom:25px;
font-size:20px;
font-weight:500;
right:2px;
}
}

.Title{
margin-left:20px;
font-weight:500;
font-size:18px;
color:rgb(22, 20, 20);
position:relative;
top:83px;
margin-block-start:0;
margin-block-end: 0;
}
@media(max-width:430px){
.Title{
position:relative;
bottom:43px;
font-size:18px;
right:2px;
}
}

@media(max-width:380px){
  .Title{
  position:relative;
  bottom:43px;
  font-size:16px;
  right:2px;
  }
  }

.Mobile{
margin-left:20px;
font-weight:500;
font-size:18px;
position:relative;
top:103px;
color:rgb(8, 7, 7);
margin-block-start:0;
margin-block-end: 0;
}
@media(max-width:430px){
.Mobile{
position:relative;
bottom:60px;
font-size:18px;
right:2px;
}
}

.input1{
margin-left:20px;
height:34px;
font-size:17px;
background-color:#faf4f4;
border:none;
outline:none;
border-radius:7px;
position:relative;
top:50px;
left:10px;
width:400px;
color:rgb(235, 229, 229);
}
@media(max-width:430px){
.input1{
height:30px;
font-size:17px;
position:relative;
bottom:15px;
right:2px;
width:300px;
background-color:white;
}
}


@media(max-width:380px){
.input1{
height:25px;
font-size:15px;
position:relative;
bottom:15px;
right:2px;
}
}

.input2{
margin-left:20px;
height:34px;
font-size:17px;
background-color:#faf4f4;
border:none;
outline:none;
border-radius:7px;
position:relative;
top:70px;
left:5px;
width:400px;
}
@media(max-width:430px){
.input2{
height:30px;
font-size:17px;
position:relative;
bottom:35px;
right:2px;
width:300px;
background-color:white;
}
}

@media(max-width:380px){
.input2{
height:25px;
font-size:15px;
position:relative;
bottom:35px;
right:2px;
background-color:white;
}
}

.input3{
margin-left:20px;
height:34px;
font-size:17px;
background-color:#faf4f4;
outline:none;
border-radius:7px;
position:relative;
top:90px;
border:none;
left:4px;
width:400px;
}  
@media(max-width:430px){
  .input3{
    height:30px;
    font-size:17px;
    position:relative;
    bottom:53px;
    right:2px;
    width:300px;
    background-color:white;

    } 
}


@media(max-width:380px){
  .input3{
  height:25px;
  font-size:15px;
  position:relative;
  bottom:53px;
  right:2px;
  }
  }


.input4{
margin-left:20px;
height:34px;
font-size:17px;
background-color:#faf4f4;
outline:none;
border-radius:7px;
position:relative;
top:110px;
left:5px;
border:none;
width:400px;
}
@media(max-width:430px){
  .input4{
    height:30px;
    font-size:17px;
    position:relative;
    bottom:70px;
    right:2px;
    width:300px;
    background-color:white;
    } 
}

@media(max-width:380px){
  .input4{
  height:25px;
  font-size:15px;
  position:relative;
  bottom:70px;
  right:2px;
  }
  }

.submit{
background-color:rgb(83, 78, 78);
height:38px;
width:110px;
border-radius:7px;
color:white;
border:none;
font-weight:500;
position:relative;
top:130px;
left:20px;
font-size:14px;
}
@media(max-width:430px){
  .submit{
    position:relative;
    bottom:58px;
    right:5px;
  }
}
@media(max-width:380px){
.submit{
  position:relative;
  bottom:60px;
  right:5px;
}
}
.AccountCreation{
font-size:15px;
font-weight:300;
color:#92959c;
margin-block-start:0;
margin-block-end: 0;
position:relative;
top:150px;
left:20px;
}
@media(max-width:430px){
.AccountCreation{
position:relative;
bottom:65px;
right:7px;
}
}

@media(max-width:380px){
.AccountCreation{
position:relative;
bottom:65px;
right:7px;
}
}
#term{
border-bottom:1px solid #0f3996;
color:#1269eb;
font-size:14px;
position:relative;
}
#term1{
border-bottom:1px solid #0f3996;
color:#1659c5;
font-size:14px;
}
@media(max-width:380px){
  #term{
  margin-left:5px;
  font-size:13px;
  }
}
@media(max-width:380px){
  #term1{
  margin-left:5px;
  font-size:14px;
  }
}
