.noData{
color:red;
font-size:15px;
position:relative;
top:10px;
left:35px;
}
.noData1{
color:red;
font-size:15px;
position:relative;
left:35px;
bottom:7px;
}
.noData2{
color:red;
font-size:15px;
position:relative;
left:35px;
bottom:30px;
}
.noData3{
color:red;
font-size:15px;
position:relative;
left:35px;
bottom:48px;
}
.data1{
color:red;
position:relative;
left:35px;
bottom:5px;
}
.data2{
color:red;
position:relative;
left:35px;
bottom:30px; 
}
.data3{
color:red;
position:relative;
left:35px;
bottom:40px; 
}

.SignInButton{
background-color:rgb(55, 214, 55);
height:40px;
border-radius:10px;
width:70px;
position:relative;
bottom:40px;
left:30px;
border:none;

}

.SignIn{
background-color:rgb(159, 159, 192);
height:550px;
}
.data{
margin-inline-start:0px;
margin-inline-start:0px;
}
.SignInHeading{
margin-block-start:0px;
margin-block-end:0px;
color:black;
font-weight:700;
font-size:22px;
position:relative;
left:150px;
top:25px;
}
.SignInMain{
width:400px;
height:530px;
background-color:#d5d5d5;
border-radius:15px;
position:relative;
left:480px;
top:10px;
}
.SignInName{
position:relative;
top:30px;
left:35px;
width:200px;
font-weight:600;
}
.SignInEmail{
position:relative;
left:35px;
top:10px;
width:200px;
font-weight:600;
}
.SignInPassword{
    position:relative;
    left:35px;
    bottom:10px;
    width:200px;
    font-weight:600;
    }
.SignInConfirm{
position:relative;
left:35px;
bottom:33px;
width:200px;
font-weight:600;
}




.InputName{
width:300px;
position:relative;
left:33px;
top:20px;
border:none;
height:35px;
border-radius:7px;
font-size:15px;
}
.InputEmail{
width:300px;
position:relative;
left:33px;
border:none;
height:35px;
border-radius:7px;
font-size:15px;
}
.InputPassword{
width:300px;
position:relative;
left:33px;
bottom:20px;
border:none;
height:35px;
border-radius:7px;
font-size:15px;
}
.InputConfirm{
width:300px;
position:relative;
left:33px;
bottom:40px;
border:none;
height:35px;
border-radius:7px;
font-size:15px;
}   
.SignInImage{
height:400px;
width:600px;
border-radius:20px;
float:right;
margin-top:75px;
margin-right:100px;
}
.InputField{
width:300px;
position:relative;
top:40px;
left:58px;
height:34px;
}
    .InputField1{
    width:300px;
    position:relative;
    top:50px;
    height:34px;
    left:57px;
    }
    .InputField2{
    width:300px;;
    position:relative;
    top:60px;
    height:34px;
    left:57px;
    }
    .AccountImage{
    float:right;
    height:380px;
    width:600px;
    border-radius:14px;
    margin-top:76px;
    margin-right:70px;
    }
.FormSubmit{
background-color:white;
width:440px;
height:450px;
border-radius:20px;
position:relative;
top:50px;
left:110px;
}
.ButtonSignIn{
border:2px solid black;
background-color:rgb(241, 241, 150);
border:none;
height:34px;
width:300px;
border-radius:5px;
position:relative;
top:90px;
left:55px;
font-weight:600;
font-size:12px;
}
.ButtonSignIn1{
border:2px solid black;
background-color:rgb(85, 138, 85);
border:none;
height:34px;
width:300px;
border-radius:5px;
position:relative;
top:80px;
left:55px;
font-weight:600;
font-size:12px;
 }
.password{
position:relative;
top:59px;
left:60px;
font-size:14px;
}
.email{
position:relative;
top:50px;
left:60px;
font-size:15px;
}
.name{
position:relative;
top:40px;
left:60px;
font-size:15px;
}
.SignPara{
position:relative;
left:60px;
top:37px;
font-size:17px;
}
.AccountHeading{
position:relative;
top:45px;
width:250px;
left:90px;
font-size:25px;
}
.Loginstar{
color:red;
font-size:17px;
}